
:root {
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    --foreground-rgb: 255, 255, 255;
    
    --banner-height: 0px;
    --background-start: 0 0% 100%;
    --background-end: 0 0% 98%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    
    --font-body: "Sora", sans-serif;
    --font-heading: "Inter", sans-serif;
    
}
.dark {
    --background-start: 240 10% 3.9%;
    --background-end: 240 10% 2%;
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading);
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    border: 0 solid #e5e7eb;
}

/* 5. Offset for in-page anchors (projects, contact) */
#projects, #contact {
  scroll-margin-top: 80px; /* adjust to your header height */
}


.button-dark {
  padding: 0.5rem 1rem;
  background-color: #000;
  color: white;
  transition: background 0.3s;
}
.button-dark:hover {
  background-color: #333;
}


user agent stylesheet
:root {
    view-transition-name: root;
}

.crisp-client .cc-1brb6 {
  z-index: 1000000;
}
.crisp-client *:focus-visible {
  outline-color: #5B5B5B !important;
}

.crisp-client .cc-1brb6 .cc-co79q {
color: #FFFFFF !important;
}

.crisp-client .cc-1brb6 .cc-1dvce {
color: #2A2A2A !important;
}

.crisp-client .cc-1brb6 .cc-5t1tm {
background-color: #FFFFFF !important;
}

.crisp-client .cc-1brb6 .cc-1q2sq {
background-color: #5B5B5B !important;
}

.crisp-client .cc-1brb6 .cc-62iw4 {
background-color: #313131 !important;
}

.crisp-client .cc-1brb6 .cc-1kgzy {
background-color: #2A2A2A !important;
}

.crisp-client .cc-1brb6 .cc-1kgzy *:focus-visible {
outline-color: #F0F2F5 !important;
}

.crisp-client .cc-1brb6 .cc-m59gn {
background-color: #F2F2F2 !important;
}

.crisp-client .cc-1brb6 .cc-jtuj4 {
background-color: #F0F2F5 !important;
}

.crisp-client .cc-1brb6 .cc-1ikmr {
border-color: #FFFFFF !important;
}

.crisp-client .cc-1brb6 .cc-1i61z,
.crisp-client .cc-1brb6 .cc-134r8:hover {
border-color: #2A2A2A !important;
}

.crisp-client .cc-1brb6 .cc-un6tk {
border-color: rgba(42, 42, 42, 0.2) !important;
}

.crisp-client .cc-1brb6 .cc-weiiy {
border-bottom-color: #2A2A2A !important;
}

.crisp-client .cc-1brb6 .cc-18tkz::placeholder {
color: #92A9C1 !important;
}

.crisp-client .cc-1brb6 .cc-10xgc::placeholder {
color: #92A9C1 !important;
}

.crisp-client .cc-1brb6 .cc-y2afy,
.crisp-client .cc-1brb6 .cc-y2afy:active,
.crisp-client .cc-1brb6 .cc-1swm7:hover .cc-17cww,
.crisp-client .cc-1brb6 .cc-1swm7 .cc-17cww:active {
background: #5B5B5B !important;
}

.crisp-client .cc-1brb6 .cc-coh7k,
.crisp-client .cc-1brb6 .cc-1cx9a:hover,
.crisp-client .cc-1brb6 .cc-1xhex[data-active="true"] .cc-ydjl9 {
background: #454545 !important;
}

.crisp-client .cc-1brb6 .cc-y2afy:hover,
.crisp-client .cc-1brb6 .cc-coh7k:hover,
.crisp-client .cc-1brb6 .cc-1cx9a:active {
background: #525252 !important;
}

.crisp-client .cc-1brb6 .cc-coh7k:active {
background: #5B5B5B !important;
}

.crisp-client .cc-1brb6 .cc-aoc5z:hover .cc-fajgc {
background: #454545 !important;
}

.crisp-client .cc-1brb6 .cc-aoc5z .cc-fajgc:active {
background: #525252 !important;
}

.crisp-client .cc-1brb6 .cc-f5i1a,
.crisp-client .cc-1brb6 .cc-70ynx:hover .cc-iuh54,
.crisp-client .cc-1brb6 .cc-70ynx .cc-iuh54:active {
background: #2A2A2A !important;
}

.crisp-client .cc-1brb6 .cc-f5i1a:hover {
background: #313131 !important;
}

.crisp-client .cc-1brb6 .cc-f5i1a:active {
background: #454545 !important;
}

.crisp-client .cc-1brb6 .cc-vibqn::selection,
.crisp-client .cc-1brb6 .cc-vibqn *::selection {
color: #1c293b !important;
background-color: #E9E9E9 !important;
}